<ion-header class="finisher-header">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateToHome()">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    
      <ion-button fill="clear" (click)="navigateToFavorites()">
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
    
      <ion-button fill="clear" (click)="navigateToContacts()">
        <ion-icon name="call-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Available Animals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="animal-grid">
    <ion-card *ngFor="let animal of animals" class="animal-card" (click)="goToAnimalDetails(animal.id)">
      <ion-img [src]="animal.photo" alt="{{ animal.name }}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ animal.name }}</ion-card-title>
        <p>{{ animal.age }}</p>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>