@import '../../../styles/shared';

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
}

.horizontal-card {
  flex: 1;
  min-width: 0;
  box-shadow: rgba(224, 224, 224, 0.3) 0px 0px 0px 3px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  background-color: #274137;
}

.horizontal-card:hover {
  box-shadow: rgba(224, 224, 224, 0.5) 0px 0px 0px 3px;
}

.featured-animal-card {
  margin-top: 2rem;
  padding: 1.5rem;
  background: #fefefe;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.animal-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.animal-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
}

.animal-info {
  color: white;
  font-size: 16px;

  h3 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: bold;
  }

  p {
    margin: 4px 0;
  }
}

ion-content {
  --background: rgb(232, 232, 232) !important;
  background: rgb(232, 232, 232) !important;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #274137;
}

ion-card-content {
  font-size: 16px;
  text-align: center;
  width: 100%;
  background-color: #274137;
}

ion-button {
  margin-top: 10px;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  margin-top: 10px;
  box-sizing: border-box;
}

.button p {
  z-index: 1;
  margin: 0;
}

.button:hover {
  color: #ffffff;
}

.button:active {
  border-color: teal;
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}